<!DOCTYPE html>
<html>
  <head>
    <title>Hair Salon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Hair Salon</h1>
    <hr/>
    <h2>Are you sure you want to delete this client?</h2>
    <h4>@Model.GetName()</h4>
    <form action="/client/delete/@Model.GetId()" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit">Delete</button>
    </form>
    <p><a href="/">Home</a></p>
  </body>
</html>
